body {
    min-width: 800px;
    max-width: 1200px;
    background-color: whitesmoke;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding-top: 7%;
    padding-left: 15%;
    padding-right: 15%;
    line-height: 1.5em;
    
}
.myBanner {
    justify-content: self;
    width: 800px;
    height: 250px;
    background: linear-gradient(-90deg,var(--x1,#91AC9A), var(--x2,#8FB8CA), var(--x1,#91AC9A)) var(--x,0)/ 200%;
    --x1:  #91AC9A;
    --x2: #8FB8CA;
    transition: .3s;

}
.myBanner:hover { --x: 100%; }


/* section 
    border-radius: 8px;
    margin: auto;
    align-items: center;
    justify-items: center;
    line-height: 1.5em;
  

} */
main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
div {
    max-width: 800px;
    height: 100%;
    justify-content: space-around;
    padding-right: 20px;
    padding-left: 20px;

 

}

#column {
    max-width: 800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1.6em;
    margin: auto;
    align-items: center;
    vertical-align: center;
} 

a {
    text-decoration: none;
    color: slategrey;
}
a:hover {
    transition: 0.2 ease-in;
    color: #e6c3bf;
}

ul{
    list-style-type: none;
}
footer {
    padding-top: 5%;
    padding-bottom: 10%;
    margin: auto;
    text-align: center;
}

/* TODO: figure out alignment*/